.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    position: absolute;
    top: 86px;
    left: -12px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 440px;
    height: 210px;
    background-color: #018ABE;
    padding: 20px;
    border-radius: 20px;
}

.swiper-slide h2 {
    color: #fff;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.swiper-slide p {
    font-size: 10px;
    font-style: normal;
    font-weight: 300;
    line-height: 14px;
    color: #fff;
    width: 440px;
}